@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

.text-yellow {
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 500;
}

.text-sky {
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

.text-light-green {
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

.text-blue {
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.text-white {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-black{
    width: 200px;
    height: 50px;
    background-color: #111111;
    border-radius: 12px;
    border: 0;
    padding: 10px 47px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    
}

/* header styles */

/* navbar related styles */
.logo-container {
    max-width: 202px;
    max-height: 62px;
    align-items: center;
}

.logo-title {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 17px;
}

.navbar {
    max-width: 1160px;
    max-height: 102px;
    border: 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    margin: 16px 186px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.nav-btn {
    width: 200px;
    height: 50px;
    background-color: #FEA301;
    border-radius: 12px;
    border: 0;
    padding: 10px 60px;
}
/* banner styles */
.banner{
    margin-top: 122px;
    justify-content: center;
}
.banner-content{
    margin-right: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.75rem;
}
#h1-yellow{
    color: #FEA301;
}
#h1-blue{
    color: #01ACFD;
}
.banner-description{
    font-size: 1.25rem;
    margin-top: 14px;
    margin-bottom: 24px;
}

/* responsive media query */
/* big device like computers*/
@media screen and (min-width: 576px){
    #nav-icon-small-device{
        display: none;
    }
}
/* small device */
@media screen and (max-width: 576px) {
    .logo-title,
    .nav-links, .nav-btn {
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        white-space: nowrap;
    }
    .banner-description{
        font-size: 0.9rem;
        white-space: nowrap;
    }
    
}